# .gitignore templates: https://github.com/github/gitignore
#-------------------------------------------------------------------------------

*~
/build
/compile

#-------------------------------------------------------------------------------
#                 _        _              _
#      /\        | |      | |            | |
#     /  \  _   _| |_ ___ | |_ ___   ___ | |___
#    / /\ \| | | | __/ _ \| __/ _ \ / _ \| / __|
#   / ____ \ |_| | || (_) | || (_) | (_) | \__ \
#  /_/    \_\__,_|\__\___/ \__\___/ \___/|_|___/
#
#-------------------------------------------------------------------------------

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/m4

/build-aux

#-------------------------------------------------------------------------------
#    _____
#   / ____|_     _
#  | |   _| |_ _| |_
#  | |  |_   _|_   _|
#  | |____|_|   |_|
#   \_____|
#
#-------------------------------------------------------------------------------

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
